<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>current category</title>
</head>
<body>
<form action="/category/{{ category.id }}" method="post">
  <label for="category_name"> category_name:</label><br>
  <input type="text" id="category_name" name="category_name" value="{{ category.name }}"><br><br>
  <input type="submit" value="Submit">
</form>

<form action="/category/{{ category.id }}/delete" method="post">
  <input type="submit" value="DELETE CATEGORY">
</form>
{% for transaction in transactions %}
    <p>{{ transaction.description }} | {{ transaction.date }} | {{ transaction.amount }} | {{ transaction.type }}</p>
{% endfor %}
</body>
</html>